body {
    background-color: gray;
    background-image: url("./fondo.png");
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

header {
    text-align: center;
    padding: 5px;
    background-color: gray;
}

#botones {
    padding: 10px;
}

#idDiana {
    display: flex;
    flex-flow: row;
    height: 40px;
    width: auto;
}

#idZombie {
    font-size: 40px;
    height: 40px;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#idDistancia {
    height: 400px;
}

#idDisparo {
    height: 30px;
}

#idCuchillo {
    font-size: 30px;
    position: absolute;
    transform: rotate(225deg);
}

hr {
    border-top: 3px solid white;
}